<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scienceguider">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Delete_question" />
        <activity android:name=".Temp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View" />
        <activity android:name=".Reset" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Add_new_Quiz" android:parentActivityName=".Temp"/>
        <activity android:name=".Quiz_list_admin_view" android:parentActivityName=".Temp" />
        <activity android:name=".Admin_Panel" />
        <activity android:name=".Feedback_confirm" />
        <activity android:name=".ShowMaterials" />
        <activity android:name=".AddMaterials" />
        <activity android:name=".BiologyActivity" />
        <activity android:name=".ChemistryActivity" />
        <activity android:name=".PhysicsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Attempt_quiz" android:parentActivityName=".Temp"/>
        <activity android:name=".Feedback_write" />
    </application>

</manifest>